body {
	background-color:black;
}
h1 {
	color:white;
	text-align:center;
	font-family:Helvetica;
}
p {
	color:white;
	font-family:Helvetica;
	padding-left:50px;
}
p2 {
color:white;
	font-family:Helvetica;
}
